@charset "utf-8";

div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    text-align: center;
    transform: scale(0);

    &.active {
        transform: scale(5);

        @for $i from 1 through 10 {
            &.times-#{$i} {
                transition: transform #{$i}s;
            }
        }
    }

    &:after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: "";
    }

    p {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        font-size: 16px;
    }
}