@charset "utf-8";
@import "_ani";

div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    text-align: center;

    &.active {
        p {
            font-size: 10vmin;
        }

        @for $i from 1 through 10 {
            $v : $i / 2;
            &[data-transition="#{$v}"]{
                transition: transform #{$i}s;
            }
        }
    }

    &:after {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        content: "";
    }

    p {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        font-size: 0;
    }
}